<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/comuni" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/simbolo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/simbolo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiBarrioAmigo"
        tools:targetApi="31">
        <service
            android:name=".firebaseMessaing"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".cruduser"
            android:exported="false" />
        <activity
            android:name=".crearuser"
            android:exported="false" />
        <activity
            android:name=".mapa"
            android:exported="false"
            android:label="@string/title_activity_mapa" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0zwVu_n-TrSLJZSyKgoQN1sDRjr7EtPs" />

        <activity
            android:name=".usuarios"
            android:exported="false" />
        <activity
            android:name=".foroUsers"
            android:exported="false" />
        <activity
            android:name=".eventoUser"
            android:exported="false" />
        <activity
            android:name=".BienvenidoUser"
            android:exported="false" />
        <activity
            android:name=".Bienvenido"
            android:exported="false" />
        <activity
            android:name=".calendarUsers"
            android:exported="false" />
        <activity
            android:name=".calendar"
            android:exported="false" />
        <activity
            android:name=".comunicadosUsers"
            android:exported="false" />
        <activity
            android:name=".comunicados"
            android:exported="false" />
        <activity
            android:name=".foro"
            android:exported="false" />
        <activity
            android:name=".admEvento"
            android:exported="false" />
        <activity
            android:name=".RegistrarUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>